//////////////////////////////////////
/*  My Additional CSS
//////////////////////////////////////*/

/*/////////////////
Project Hacks
/////////////////*/

/* Clearfix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* ///////////////////
////// MIXINS, VARIABLES, ETC. /////////
/////////////////// */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ///////////////////
////// FONTS /////////
/////////////////// */

$fontVerySmall: 15px;
$fontSmall: 18px;
$fontMedium: 25px;
$fontBig: 30px;
$fontVeryBig: 35px;

/*/////////////////////////////////////////////////////////////////////////////
  General Styles - applicable to every viewport
/////////////////////////////////////////////////////////////////////////////*/

#main {
  margin-top: 50px;
}
#page-canvas {
  border: 1px solid rgba(0,0,0,0.1);
  border: 1px solid #eee;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  margin-top: 30px;
}
#signin-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}

// header-area
.header-area {
  position: relative;
  z-index: 1;
}
  .header-area h1 {
    text-align: center;
    font-size: $fontVeryBig;
    font-weight: bold;
    margin-top: 55px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  .header-area h2 {
    text-align: center;
    font-size: $fontBig;
    margin-top: 0px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
// main-nav
.main-nav .right-links a {
  font-size: $fontSmall;
  line-height: $fontBig;
  margin-right: 15px;
}
.main-nav .navbar-form .form-control {
  height: 34px;
  margin-top: 0px;
  width: 200px;
}
.main-nav button.search {
  margin-right: 20px;
  margin-top: 0px;
  padding-right: 15px;
  font-weight: bold;
  font-size: $fontVerySmall;
}
// carousel
#my-carousel {
  position: absolute;
  top: 50px;
}
#my-carousel .carousel-inner .item {
  margin: 0 auto;
}
  #my-carousel img {
    width: 100%;
    min-width: 883px;
    height: 750px;
  }
  #my-carousel .carousel-control {
    margin-top: 100px;
    width: 50px;
  }
    #my-carousel .carousel-control.right {
      margin-right: 50px;
    }
    #my-carousel .carousel-control.left {
      margin-left: 50px;
    }
  #my-carousel .carousel-caption {
    margin-bottom: 100px;
    border-radius: 15px;
  }
    #my-carousel .carousel-caption h1 {
      font-size: $fontBig;
    }
    #my-carousel .carousel-caption a {
      color: white;
    }
#carousel-search {
  position: relative;
  margin-top: 75px;
  min-width: 925px;
}
  #carousel-search .navbar-form {
    display: inline-block;
  }
  #carousel-search .form-group {
    display: inline-block;
    min-width: 245px;
  }
  #carousel-search .form-control {
    height: 34px;
    margin-top: 0px;
    width: 200px;
  }
  #carousel-search .search-box-group {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,0.6);
    padding: 15px;
    background: #333333;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    min-width: 947px;
  }
    #carousel-search .search-box-group .form-control {
      margin-right: 5px;
    }
    #carousel-search .search-box-group .form-group {
      min-width: 0px;;
    }




