//////////////////////////////////////
/*  My Additional CSS
//////////////////////////////////////*/

/*/////////////////
Project Hacks
/////////////////*/

/* Clearfix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* ///////////////////
////// MIXINS, VARIABLES, ETC. /////////
/////////////////// */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* ///////////////////
////// FONTS /////////
/////////////////// */

$fontVerySmall: 15px;
$fontSmall: 18px;
$fontMedium: 25px;
$fontBig: 30px;
$fontVeryBig: 35px;

/*/////////////////////////////////////////////////////////////////////////////
  General Styles - applicable to every viewport
/////////////////////////////////////////////////////////////////////////////*/

#main {
  margin-top: 50px;
}

// header-area
.header-area {
  position: relative;
  z-index: 1;
}
  .header-area h1 {
    text-align: center;
    font-size: $fontVeryBig;
    font-weight: bold;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
  .header-area h2 {
    text-align: center;
    font-size: $fontBig;
    margin-top: 0px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }
// main-nav
.main-nav .right-links a {
  font-size: $fontSmall;
  line-height: $fontBig;
  margin-right: 15px;
}
.main-nav .navbar-form .form-control {
  height: 34px;
  margin-top: 0px;
  width: 200px;
}
.main-nav button.search {
  margin-right: 20px;
  margin-top: 0px;
  padding-right: 15px;
  font-weight: bold;
  font-size: $fontVerySmall;
}
// carousel
#my-carousel {
  position: absolute;
  top: 50px;
}
#my-carousel .carousel-inner .item {
  margin: 0 auto;
}
  #my-carousel img {
    width: 100%;
    min-width: 883px;
    height: 750px;
  }
  #my-carousel .carousel-control {
    margin-top: 200px;
  }
  #my-carousel .carousel-caption {
    margin-bottom: 100px;
    border-radius: 15px;
  }
    #my-carousel .carousel-caption a {
      color: white;
    }