<div id="browse" >
  <div class="row-fluid clearfix">
    <div class="span3">
    </div> <!-- end span3 -->

    <h1 id="page-banner" class="span6">
      Browse by:
    </h1>

    <!-- span3 -->
    <div class="span3">
    </div>
    <!-- end span3 -->
  </div> <!-- end row-fluid -->

  <div class="row-fluid clearfix">
    <div class="span1">
    </div> <!-- end span1 -->

    <div class="span5">
      <h1>Category</h1>
      <table summary="User form fields">
        <tr>
          <td><a href="#">Surfing</a></button></td>
          <td><a href="#">Climbing</a></button></td>
          <td><a href="#">Wakeboarding</a></button></td>
        </tr>
        <tr>
          <td><a href="#">Kayaking</a></button></td>
          <td><a href="#">Snowboarding</a></button></td>
          <td><a href="#">Skiing</a></td>
        </tr>
        <tr>
          <td><a href="#">Hiking</a></td>
          <td><a href="#">Rafting</a></button></td>
          <td><a href="#">See All</a></td>
        </tr>
    </table>
    </div>

    <div class="span5">
      <h1>Location</h1>
    </div>

    <!-- span3 -->
    <div class="span1">
    </div>
    <!-- end span1 -->
  </div> <!-- end row-fluid -->
</div>