<!-- span2 -->
<div class="span2"></div>

<!-- span8 -->
<div id="carousel-search" class="span8">

  <!-- container bootstrap setup -->
  <div class="row-fluid clearfix search-box-group">
	  <form class="navbar-form span4" role="search">
	    <div class="form-group">
	      <input type="text" class="form-control" placeholder="What do you want to do?">
	    </div>
	    <button type="submit" class="btn btn-default search">Go</button>
	  </form>
	  <form class="navbar-form span4" role="search">
	    <div class="form-group">
	      <input type="text" class="form-control" placeholder="Where?">
	    </div>
	    <button type="submit" class="btn btn-default search">Go</button>
	  </form>
	  <form class="navbar-form span4" role="search">
	  	<div class="form-group pull-right">
	      <input type="text" class="form-control" placeholder="When?">
	    </div>
	  </form>
  </div> <!-- end row fluid -->
</div> <!-- end span8 -->

<!-- span2 -->
<div class="span2"></div>