<% @page_title = "About" %>

<div class="row-fluid clearfix">
  <div class="span3">
    <!-- back link -->
    <h3 class="general-back-link"><%= link_to("Back Home", {:controller => 'public', :action => 'list'}) %></h3>
  </div> <!-- end span3 -->

  <h1 id="page-banner" class="span6">
    About
  </h1>

  <!-- span3 -->
  <div class="span3">
  </div>
  <!-- end span3 -->

</div> <!-- end row fluid -->

<!-- container bootstrap setup -->
<div class="row-fluid clearfix">
  <div id="page-canvas" class="span10 offset1">
    <div class="inner-wrapper">
	  <!-- new user form -->
    <p>Terranaut connects folks looking for adventure sports gear with folks who have it.  Going snowboarding for a weekend this winter, but don't want to buy a snowboard?  Rent one from a fellow terranaut.  Bought a kayak last summer that you aren't getting as much use out of as you would like?  Rent it out to a fellow terranaut for an amount that seems reasonable to you.</p>
	</div> <!-- end user-show-wrapper -->
  </div> <!-- end page-canvas -->
</div> <!-- end row fluid -->
