<% @page_title = "About" %>

<div class="row-fluid clearfix">
  <div class="span3">
    <!-- back link -->
    <h3 class="general-back-link"><%= link_to("Back Home", {:controller => 'public', :action => 'list'}) %></h3>
  </div> <!-- end span3 -->

  <h1 id="page-banner" class="span6">
    About
  </h1>

  <!-- span3 -->
  <div class="span3">
  </div>
  <!-- end span3 -->

</div> <!-- end row fluid -->

<!-- container bootstrap setup -->
<div class="row-fluid clearfix">
  <div id="page-canvas" class="span10 offset1">
    <div class="inner-wrapper">
	  <!-- new user form -->
	  <h2>Any rental agreement between two terranauts is subject to the conditions below.</h2>
    <p>Rental Agreement
THIS EQUIPMENT LEASE AGREEMENT (“Lease”) is made and effective by clicking on the “I agree, submit this order” button, by and between Lens Rentals.com, Inc., (“Lessor”) and current user (“Lessee”). By clicking on the “I agree, submit this order” button, Lessee agrees to be bound by this Equipment Lease Agreement and all the Terms and Conditions therein, whether or not Lessee has read them. Lessor may at its sole discretion modify this Equipment Lease Agreement and all the Terms and Conditions therein at any time. By clicking on the “I agree, submit this order” button, Lessee indicates acceptance of the modified Terms and Conditions. NOW, THEREFORE, in consideration of the mutual covenants and promises hereinafter set forth, the parties hereto agree as follows:
Disclaimer – Every effort is made to assure descriptions and prices are correct. Lessor reserves the right to correct errors as needed. All prices and availability are subject to change without notice.
Lease – Lessor hereby leases to Lessee, and Lessee hereby leases from Lessor, the following described equipment (“Equipment”): shown above in the “Contents” area during checkout.
Shipping – Lessee agrees to pay both outgoing and return shipping charges at the time of the initial transaction, unless parties otherwise agree. The shipping carrier (“Shipper”) shall be UPS or FedEx unless the parties otherwise agree. A signature will be required upon delivery unless parties otherwise agree.
Lessor cannot guarantee a specific time or date for delivery. Any shipping time given by Lessor is only an estimate.
Use, by Lessee, of shipping methods other than those arranged for by Lessor is a violation of these terms, and may result in the application of late fees.
Term – The term of this lease shall commence at the latter of the date the Shipper shows the first attempted delivery or the first day of the rental period shown on order receipt. The term of this lease shall expire on the expiration of the term of days shown on the order receipt. The Equipment must be returned to the chosen Shipper by the end of business on the last day of the term of the lease.
Rent – Rent and a deposit, if applicable, must be paid in advance, in full.
Late Returns – Late returns are penalized a maximum daily penalty equivalent to 25% of the 4 day rental rate for the Equipment. Any penalties will be charged to the Lessee’s form of payment on file with Lessor.
In the event the rental is not returned 7 days after the due date and Lessor has been unable to collect the applicable penalties, the equipment will be considered stolen and the Lessee’s form of payment will be charged the full replacement value of the Equipment.
If Lessor is unable to collect penalties or the replacement value of the equipment after 7 days, the Lessee shall be considered to be in Default.
Lessor reserves the right to pursue all civil and criminal remedies in the case of unreturned or lost equipment.
Use – Lessee shall use the Equipment in a careful and proper manner and shall comply with and conform to all applicable laws, ordinance, and regulations in any way relating to the use or possession of the Equipment.
Cancellation by Lessor – Lessor reserves the right to cancel any order, for any reason, at any time before delivery occurs.
Cancellation by Lessee – Lessee may cancel an order subject to the following terms:
If an order is cancelled by Lessee before the shipment is tendered to the Shipper, the cancellation will result in no charge.
If an order is cancelled after the shipment is tendered to the Shipper, but before it is delivered by Shipper will result in a cancellation fee of the lesser of: $100 per shipped parcel or the 1-day rental fee for the cancelled order.
Ownership – The Equipment remains at all times the sole and exclusive property of Lessor. The Lessee has no rights or claims to the Equipment. Lessor makes no claims to images, video, or sound recordings made by the Lessee while using the Equipment.
Damaged or Modified Equipment – Lessee shall keep the Equipment in good repair and condition.
Lessee shall not materially modify or alter the Equipment.
In the event of any material modifications, Lessee will be responsible for all reasonable costs of Lessor in restoring the Equipment to its normal condition.
Lessee assumes and shall bear the entire risk of damage to the Equipment from any cause, except damage in the possession of the Shipper, during the term of the Lease.
Unless pre-existing damage is reported to Lessor within 24 hours after Lessee takes possession of the Equipment, it is assumed any damage to the equipment occurred during the term of the Lease.
If there is a dispute between Lessor and Lessee as to whether damage occurred in possession of the Shipper, the equipment shall be sent to an external repair facility. The opinion of the repair facility, as to the cause of the damage, shall be binding on the parties.
In the event of damage, Lessor shall choose the repair method and venue, within reason.
If Lessor chooses an external venue for repair, Lessee is responsible for the total cost of repair, if commercially reasonable.
Lessor may elect to repair the Equipment in-house. In these cases, Lessee shall be responsible for Lessor’s reasonable expenses for parts and labor.
Lessee’s form of payment shall be charged the amount of repair expenses owed to Lessor. If the Lessee’s form of payment cannot be successfully charged within 24 hours, the Lessee shall be considered to be in Default.
At Lessor’s discretion, a cleaning fee may be charged if any of the following must be removed from the equipment upon return:
Smoke
Mud or dirt
Chalk or powder
Sand
Any other matter that must be removed from the Equipment before it is placed back in Lessor’s inventory
Loss of Equipment – Lessee assumes and shall bear the entire risk of loss of the Equipment from any cause during the term of the Lease.
Lost or Stolen Equipment – In the event that the Equipment is reported by Lessee to be lost or stolen during the term of the Lease, Lessee is liable to Lessor for the replacement value of the Equipment.
Lessor shall charge Lessee’s form of payment the amount owed for replacement of the lost or stolen Equipment.
If the Lessee’s form of payment cannot be successfully charged within 24 hours, the Lessee shall be considered to be in Default.
Unreturned Equipment – If the Equipment is not returned within seven days of expiration of the term of the Lease, the Lessee shall be liable for the replacement value of the Equipment.
In case of a dispute over whether the Lessee returned the Equipment:
If the tracking information for the return shipping label provided by Lessor does not show that the Equipment has been picked up by Shipper and the Lessee has no drop-off receipt, the Equipment is considered unreturned.
If Lessee used an alternate shipping method, not arranged in advance by the parties, and the Equipment is subsequently lost in transit, the Equipment is considered unreturned.
Lessor shall charge Lessee’s form of payment the amount owed for replacement of the unreturned Equipment.
If the Lessee’s form of payment cannot be successfully charged within 24 hours, the Lessee shall be considered to be in Default.
Default – In the event of default, all amounts owed by Lessee to Lessor are immediately due.
In the event of default, Lessee shall be responsible for any reasonable expenses of Lessor in attempting to recover the amount owed from Lessee including collection fees and attorney’s fees.
Lessor reserves the right to pursue all available civil and criminal remedies against lessee, including but not limited to: recovering possession of the equipment, obtaining from Lessee’s form of payment any amounts owed, hiring outside debt collection firms or private investigators, filing of criminal charges, and any civil remedies available. These remedies are not exclusive.
Damage Waiver – Lessee, may elect, on certain items, to pay an additional sum to Lessor for a damage waiver. When purchased, the damage waiver limits Lessee’s liability in the case of damage on covered equipment.
On equipment covered by the optional damage waiver, Lessee’s maximum liability for damage is the lesser of 5% of the replacement cost of the equipment or the actual cost of repair.
The damage waiver only covers damage caused by the ordinary negligence of the Lessee and does not cover damage caused by any of the following:
Water damage;
Sand damage
Intentional damage;
Damage arising from reckless or grossly negligent use of the equipment;
Damage caused by abusive use of the equipment;
Lost or stolen equipment;
Lost accessories.
Missing Accessories – In the event of any missing accessories (caps, hoods, tripod rings, bags, etc.), Lessee is fully liable to Lessor for the replacement cost of the missing items.
Liability – Lessor does not assume, and the customer indemnifies Lessor against any liability or claims resulting from use or malfunction of the equipment. Lessee assumes all liability that may arise from use or failure of the equipment.
Shipping Delays and Malfunctioning Equipment – In the case of a shipping delay or malfunctioning Equipment, Lessor’s only liability to Lessee is for the portion of Rent applicable to the time period that the Equipment was nonfunctioning or delayed in transit. Lessor shall not be responsible for any consequential or incidental damages resulting from malfunctions or shipping delays.
Taxes or Duties – The Lessee agrees to keep the Equipment free of any taxes, duties, liens, or other encumbrances. In the event such are levied against the Equipment, renter agrees to reimburse Lessor in full for those charges.
Ownership – The Equipment remains at all times the sole and exclusive property of Lessor. The Lessee has no rights or claims to the Equipment. Lessor does not have or make any claim to images, video, or sound recordings made by the Lessee while using the Equipment.
Severability and Governing Laws – This represents the entire agreement between Lessor and Lessee. If any portion of this agreement is found unenforceable, it will not affect the remainder of the agreement, which shall remain valid and enforceable. The agreement shall be enforced according to the laws of the State of Tennessee. Lessor and Lessee agree that the United States District Court for the Western District of Tennessee, and/or Tennessee’s 30th Judicial District shall have exclusive jurisdiction over any dispute between the parties of this Lease.</p>
	</div> <!-- end user-show-wrapper -->
  </div> <!-- end page-canvas -->
</div> <!-- end row fluid -->




