<!-- container bootstrap setup -->
<div class="row-fluid clearfix">

  <!-- span2 -->
  <div class="span2">
  </div>

  <!-- span8 container -->
  <div class="span8">
    <h1>
	  Terranaut: Your First Stop on the Road to Adventure
	</h1>
  </div>

  <div class="span2">
  </div>

</div> <!-- end row fluid -->

<!-- container bootstrap setup -->
<div class="row-fluid clearfix">

  <div class="jumbotron">
    <h1>Terranaut!</h1>
    <p>Terranaut knows how to party.</p>
    <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
  </div>

</div> <!-- end row fluid -->