<!-- container bootstrap setup -->
<div class="row-fluid clearfix">

  <!-- span2 -->
  <div class="span2">
  </div>

  <!-- span8 container -->
  <div class="span8 header-area">
    <h1>Terranaut</h1>
    <h2>Your First Stop on the Road to Adventure</h2>
  </div>

  <div class="span2">
  </div>

</div> <!-- end row fluid -->

<!-- CAROUSEL -->
<%= render(:partial => 'carousel') %>
<%= render(:partial => 'carousel_search') %>

<!-- BROWSE -->
<%= render(:partial => 'browse') %>
